<%= form_for(@usingd3) do |f| %>
  <% if @usingd3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usingd3.errors.count, "error") %> prohibited this usingd3 from being saved:</h2>

      <ul>
      <% @usingd3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
