<%= form_for(@rect) do |f| %>
  <% if @rect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rect.errors.count, "error") %> prohibited this rect from being saved:</h2>

      <ul>
      <% @rect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
