<% content_for :rects do %>
  <%= render 'rects' %>
<% end %>

<div id="canvas"></div>

<script type="text/javascript" src="/assets/d3.v3.min.js"></script>
<script type="text/javascript">
var canvas = d3.select("#canvas")
  .append("svg")
  //.data(dataset)
  .attr("width", "100%")
  .attr("height","100%");

</script>
