<%= form_for(@d3) do |f| %>
  <% if @d3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d3.errors.count, "error") %> prohibited this d3 from being saved:</h2>

      <ul>
      <% @d3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
