<%= form_for(@pong) do |f| %>
  <% if @pong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pong.errors.count, "error") %> prohibited this pong from being saved:</h2>

      <ul>
      <% @pong.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
