<% content_for :csses do %>
  <%= render 'csses' %>
<% end %>

  <div class="cube">
      <div class="face one"></div>
      <div class="face two"></div>
      <div class="face three"></div>
      <div class="face four"></div>
      <div class="face five"></div>
      <div class="face six"></div>
  </div>

  <div class="cube2">
      <div class="face one"></div>
      <div class="face two"></div>
      <div class="face three"></div>
      <div class="face four"></div>
      <div class="face five"></div>
      <div class="face six"></div>
  </div>

<div class="overlap"></div>

