body {
  background: #000;
  margin: 0px;
  padding: 0px;
}

.overlap {
  position: fixed;
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: -50;
}

.cube {
  height: 300px;
  position: relative;
  margin: -300px 0px 0px -150px;
  width: 300px;
  -webkit-transform-style: preserve-3d;
}

.cube2 {
  height: 300px;
  position: relative;
  margin: -300px 0px 0px -150px;
  width: 300px;
  -webkit-transform-style: preserve-3d;
}

.face {
  background-color: rgb(50, 50, 50);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 300px;
  opacity: 0.7;
  position: absolute;
}

.cube .one {
  background-color: rgb(242,24,25);
  -webkit-transform: rotateX(90deg) translateZ(150px);
}

.cube .two {
  background-color: rgb(235,41,158);
  -webkit-transform: translateZ(150px);
}

.cube .three {
  background-color: rgb(252,209,22);
  -webkit-transform: rotateY(90deg) translateZ(150px);
}

.cube .four {
  background-color: rgb(44,45,213);
  -webkit-transform: rotateY(180deg) translateZ(150px);
}

.cube .five {
  background-color: rgb(125,105,181);
  -webkit-transform: rotateY(-90deg) translateZ(150px);
}

.cube .six {
  background-color: rgb(22,226,38);
  -webkit-transform: rotateX(-90deg) translateZ(150px) rotate(180deg);
}