// Place all the styles related to the pongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ponghud {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  background-color: #333333;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.2em;
}

#ponginfo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 50;
  background-color: #333333;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.2em;
}