<%= form_for(@threej) do |f| %>
  <% if @threej.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@threej.errors.count, "error") %> prohibited this threej from being saved:</h2>

      <ul>
      <% @threej.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
